.skillContainer {
  
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 11fr;
  /* grid-auto-flow: column;
  align-items: center; */
}

.skillContainer-Child-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  /* height: 15rem; */
}

.skillContainer-Child-skill {
  background-color: var(--color-bg-variant);
  height: 300px;
  width: 300px;
  padding: 20px;
  border-radius: 1rem;
}

.skillContainer-Child-skill-icon {
  color: var(--color-primary);
  font-size: 3rem;
}

.skillContainer-Child-skill h2 {
  color: var(--color-primary);
  font-weight: bolder;
}

.skillContainer-Child h2 {
  color: var(--color-primary);
  font-weight: bolder;
  /* text-align: center; */
}