.contactContainer {
  width: var(--container-small);
  height: 25vh;
  margin: 0 auto;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contactChild {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  gap: 7px;
  width: 15vw;
  font-size: 12px;
}

.contactChildIcon {
  color: var(--color-primary);
  font-size: 2rem;
}