nav {
  background-color: var(--color-primary-trnp);
  position: fixed;
  padding: .6rem;
  transform: translateX(-50%);
  left: 50%;
  top: .5rem;
  z-index: 2;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
}

nav a {
  background: transparent;
  padding: .5rem;
  display: flex;
  border-radius: 50%;
}

nav a.active{
  background-color: var(--color-primary-trnp-active);
  color: var(--color-text);
}